# Виртуальные окружения
venv/
.venv/

# Файлы настроек IDE
.idea/

# Системные файлы macOS
.DS_Store

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Файлы переменных окружения (часто содержат секреты)
# Раскомментируйте следующую строку, если НЕ хотите добавлять .env в Git
# .env
# *.env

# Локальные логи и временные файлы (примеры)
*.log
*.tmp

# Кэш тестов
.pytest_cache/

# Отчеты о покрытии кода
.coverage
htmlcov/

# Сборки пакетов Python
build/
dist/
*.egg-info/